a.out
*~
*.gch
*.lo
*.la
*.o
.deps
.libs
.dirstamp
Makefile
Makefile.in

*.save
*.patch
*.rej
*.orig

core
.gdb_history
.gdbinit

/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/COPYING
/INSTALL
